body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.todo-container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 8px 0;
    position: relative;
    display: flex; /* Butonların yan yana olması için ekledik */
    align-items: center; /* Butonların dikey ortalanması için ekledik */
}

/* Sil butonunun stilini belirledik */
.delete-button {
    margin-left: auto; /* Sol kenara yapışık kalması için */
    padding: 8px 16px;
    background-color: #FF0000; /* Kırmızı renk */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Yapıldı butonunun stilini belirledik */
.done-button {
    margin-left: 8px; /* Sol kenara göre sağa itiyoruz */
    padding: 8px 16px;
    background-color: #00FF00; /* Yeşil renk */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-todo {
    margin-top: 20px;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
